<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @nest.location %>
</p>

<p>
  <strong>Fabrication:</strong>
  <%= @nest.fabrication %>
</p>

<%= link_to 'Edit', edit_nest_path(@nest) %> |
<%= link_to 'Back', nests_path %>
