<%= form_for(@post) do |p| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  <%= p.label :name %>
  <%= p.text_field :name %>

  <%= p.label :content %>
  <%= p.text_area :content %>

  <%= p.collection_check_boxes :tag_ids, Tag.all, :id %>
  
  <%= p.submit %>
<% end %>
