<%= form_for(@tag) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
<<<<<<< HEAD
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
=======
      <% @tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
>>>>>>> 5ece51e4ab674d5d36872fa2a900b7f86e76357a
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
<<<<<<< HEAD

=======
>>>>>>> 5ece51e4ab674d5d36872fa2a900b7f86e76357a
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
