<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :input_html => { :id => 'Name'} %><br>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, :input_html => { :id => 'Contrent'} %><br>
  </div>
<<<<<<< HEAD

 <div class="field">
     <%= f.label :tags %> <br />
     <%= f.collection_check_boxes :tags, Tag.all, :id, :name %> <br />
 </div>
  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
=======
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %><br>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    Cute: <%= f.checkbox :tags, {}, 'cute', nil %><br>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    Adorable: <%= f.checkbox :tags, {}, 'adorable', nil %><br>
  </div>
  <div class="actions">
    <%= f.submit "Create Post"%>
>>>>>>> e4dc6b83b61da2b3acaac30d5b65e118c45c37e7
  </div>
<% end %>
