<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </div>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %><br>
  </div>

  <fieldset>
    <legend>Tag this post</legend>
    <%counter = 0%>
    <%@tags.each do |tag|%>
    <div>
      <input type="checkbox" id="<%=tag.name%>" name="tags[<%=tag.name%>]" value="<%=tag.id%>">
      <label for="<%=tag.name%>"><%=tag.name%></label>
      <%counter+=1%>
    </div>
    <%end%>
  </fieldset>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
