<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.label "name" %><br>
    <%= f.text_field :name %><br>
 

  <%= f.label :content %>
  <%= f.text_area :content %>

  <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>

  <label>New Tag: <input type="text" name ="tag[tag_name]"></label>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
