<h1>Editing post</h1>

<% if @post.errors.any? %>
  <div>
    <h2> There were some errors: </h2>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @post do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %> <br>

  <%= f.label :content, "Content" %>
  <%= f.text_field :content %> <br>

  <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
   <br>

  <%= f.submit "Create Post" %>
<% end %>
