<h1>Editing post</h1>

<%= form_for @post do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> <br />
  <%= f.label :content %>
  <%= f.text_area :content %> <br />
  <%= f.label :name %>
  <%= f.text_field :name %> <br />
  <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %> <br />
  <%= f.submit %>
<% end %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
