<h1>New Post</h1>
<%= form_for(@post) do |f| %>
  <label>Name</label><br>
  <%= f.text_field :name, id: "Name" %><br>
  <label>Content</label><br>
  <%= f.text_field :content, id: "Content" %><br>
  <label>Tags:</label><br>
  <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :tag_name %>
  <%= f.submit "Create Post" %>
<% end %>
<%= link_to 'Back', posts_path %>
