<h1>New post</h1>

<%= form_for(@post) do |f| %>
  <label>Post title:</label><br>
  <%= f.text_field :name, :id => "Name" %><br>

  <label>Content:</label><br>
  <%= f.text_area :content, :id => "Content" %><br>

  <label>Tags:</label><br>
  <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>

  <%= f.submit %>
<% end %>
