<h1>Post title</h1>

<%= form_for @post do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :content %>
  <%= f.text_area :content %><br>

  <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
  <%= f.submit %>
<% end %>

<%= link_to 'Create Post', posts_path %>
