<h1>New post</h1>

<%= form_for @post do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.label :user_id %>
  <%= f.number_field :user_id %>
  <%= f.label :tag_ids %>
  <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
  <%= f.submit %>
<% end %>
