<h2>New Post</h2>

<%= form_for @post do |p| %>
  <%= p.label :name %>
  <%= p.text_field :name %><br />

  <%= p.label :content %>
  <%= p.text_field :content %><br />

  <%= p.collection_check_boxes :tag_ids, Tag.all, :id, :name %><br />

  <%= p.submit %>
<% end %>
