<h1>New post</h1>

  <% if @post.errors.any? %>
   <div id="error_explanation">
  <h2>
   <%= pluralize(@post.errors.count, "error") %>
   prohibited this post from being saved:
  </h2>
    
  <ul>
   <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
   <% end %>
  </ul>
  </div>
  <% end %>

  <%= form_for @post do |f| %>
  <label>Name
    <%= f.text_field :name %><br><br></label>
    <label>Content
    <%= f.text_area :content %></label>
 
    <%= f.collection_check_boxes :tag_ids, @tags, :id, :name  %>

 

   


    <%= f.submit %>
     <%end%>




<%= link_to 'Back', posts_path %>
