<p id="notice"><%= notice %></p>


  <h2>Name:</h2>
  <h4><%= @post.name %></h4>
  <h2>Content:</h2>
  <h4><%= @post.content %></h4>
  <h2>Tags:</h2>
  <ul>
    <p><% @post.tags.each do |tag| %></p>

    <li><%= tag.name %></li>
    <% end %>
  </ul>



<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>


